[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
pydantic = "*"
more-itertools = "*"
regex = "*"
indic-numtowords = "*"

[dev-packages]

[requires]
python_version = "3.10"
